header
		nav(data-gumshoe-header)
				//- ul(data-gumshoe)
				//- 	li 
				//- 		a(href="#about").active Über uns
				//- 	li 
				//- 		a(href="#catalogue") Angebot
				//- 	li 
				//- 		a(href="#contact") Kontakt