doctype html
html

  head
    meta(charset='utf8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge, chrome=1')
    meta(name='description', content='Impressum, Markus Arendt - "IDe" Kerzen')
    meta(name='author', content= author)
    //- uncomment if your site is responsive!
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title= _path
    != css()

  body
    include partials/nav
    block content
    include partials/foot

    != js()
