// ---------------
// Axis Settings
// Check here for updates:
// https://github.com/jenius/axis/blob/master/axis/settings.styl
// ---------------

// Font stacks (add your own!)
$oswald = 'Oswald', Arial, sans-serif
$old-standard-tt = 'Old Standard TT', Georgia, serif

// Default font settings
$font-stack = $old-standard-tt
$font-size  = 16
$font-color = #222

// Colors (via http://clrs.cc - slightly modded)
$green    = #0E4A18
$blue	    = #37137F
$purple   = #6633cc
$white    = #FFFFFF
$black    = #222

// Use as default HTML colors
green   = $green
purple  = $purple
white   = $white
black   = $black

// Default color
$default-color = $purple

// Text highlight color
$highlight-color = $green

// Custom image base path for axis mixins
$img-path = ''

// Ligatures
$ligatures = false
